# general
*.elc
*.log
*~
\#*

# directory-level
/.cache/
/auto-save-list/
/backups/
/eclipse.jdt.ls
/elpa-*/
/elpa/
/emms/
/eshell/
/meghanada/
/semanticdb/
/settings/config.el
/settings/personal.el
/transient/
/url/
/workspace/

# file-level
/.lsp-session-*
/.org-id-locations
/bbdb
/bookmarks
/company-statistics-cache.el
/custom.el
/dmenu-items
/history
/network-security.data
/nov-places
/org-clock-save.el
/projectile-bookmarks.eld
/recentf
/tramp
