*.elc
*~
/.org-id-locations
/.places
/history
/recentf
/auto-save-list
/backups
/bbdb
/bookmarks
/elpa
/emms
/eshell
/network-security.data
/nov-places
/org-clock-save.el
/session.*
/settings/config.el
/settings/config.elc
/swank
/tramp
/projectile-bookmarks.eld
/projectile.cache
/semanticdb/
/info/
/company-statistics-cache.el
